html {
	font-family: "微软雅黑", "黑体";
}
.playermainbody {
	position: relative;
height:500px;
width: 790px;
left: 10px;
top: 0px;
overflow: hidden;
border: 1px solid #ccf;
min-width: 600px;
}
.fullpage {
	position: fixed !important;
	height: 100% !important;
	width: 100% !important;
	left: 0% !important;
	top: 0% !important;
	z-index: 10000;
	border: none !important;
}
.fullpage_sendbox {
	max-width: 460px;
	transition: opacity 0.3s;
	opacity: 0;
}
.fullpage_sendbox:hover {
	opacity: 0.8;
}
.fullpage_videoframe {
	height: calc(100% - 25px) !important;
	height: -webkit-calc(100% - 25px) !important;
}
.hidesidebar {
}
.sidebarhide_videoframe {
	width: 100% !important;
}
.sidebarhide_sidebar {
	display: none;
}
.playermainbody:fullscreen {
 position: fixed;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
border: none;
}
.playermainbody:-webkit-full-screen {
 position: fixed;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
border: none;
}
.playermainbody:-moz-full-screen {
 position: fixed;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
border: none;
}
.videoframe_fullscreen {
 height: 100% !important;
}
.sendbox_fullscreen {
 max-width: 460px !important;
 transition:opacity 0.1s !important;
 opacity: 0;
}
.sendbox_fullscreen:hover {
 opacity: 0.8;
}
.sidebar_fullscreen{
	height: 100% !important;
}
.controler_fullscreen{
	 opacity: 0;
	  transition:opacity 0.1s !important;
}
.controler_fullscreen:hover{
	opacity:1;
}
.playermainbody #videoframe {
	background-color: #000;
	position: absolute;
	left: 0px;
	top: 0px;
	width: calc(100% - 300px);
	height: calc(100% - 50px);
	width: -webkit-calc(100% - 300px);
	height: -webkit-calc(100% - 50px);
	overflow: hidden;
}
.playermainbody #videoframe #video {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.playermainbody #videoframe #danmuframe {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: pointer;
}
.playermainbody #videoframe #danmuframe #danmulayer{
	position: absolute;
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
}
.playermainbody #controler {
	background-color: #fff;
position: absolute;
bottom: 0px;
left: 0px;
height: 25px;
border-top: 1px solid #D3D3D3;
width: 100%;
}
.playermainbody #controler #play_pause {
	cursor: pointer;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 100%;
	width: 25px;
	border-right: 1px solid #ccc;
}
.playermainbody #controler #play_pause #play {
	width: 100%;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	background-color: #fff;
}
.playermainbody #controler #play_pause #play div {
	width: 0px;
	height: 0px;
	left: 5px;
	border-bottom: 9px solid transparent;
	border-top: 9px solid transparent;
	border-left: 16px solid #000;
	position: absolute;
	top: 4px;
	border-radius: 3px;
}
.playermainbody #controler #play_pause #pause {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 100%;
	top: 0px;
}
.playermainbody #controler #play_pause #play:hover, .playermainbody #controler #play_pause #pause:hover {
	background-color: #CFE4A3;
}
.playermainbody #controler #play_pause #pause span[type="1"] {
	background-color: #000;
	left: 6px;
	top: 5px;
	height: 16px;
	width: 5px;
	border-radius: 3px;
	position: absolute;
}
.playermainbody #controler #play_pause #pause span[type="2"] {
	background-color: #000;
	left: 14px;
	top: 5px;
	height: 16px;
	width: 5px;
	border-radius: 3px;
	position: absolute;
}
.playermainbody #controler #progress {
	cursor: pointer;
	min-width: calc(100% - 235px);
	min-width: -webkit-calc(100% - 235px);
	position: absolute;
	height: 100%;
	left: 26px;
	background-color: #fff;
	width: calc(100% - 235px);
	width: -webkit-calc(100% - 235px);
	overflow: hidden;
	border-right: 1px solid #ccc;
}
.playermainbody #controler #progress #loadinfo {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	bottom: 0px;
}
.playermainbody #controler #time {
	position: absolute;
	right: 125px;
	line-height: 25px;
	font-size: 11px;
	text-align: center;
	width: 85px;
	height: 100%;
}
.playermainbody #controler #danmuctrl {
	position: absolute;
	right: 100px;
	bottom: 0px;
	height: 100%;
	width: 25px;
	font-size: 23px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	background-color: #fff;
}
.playermainbody #controler #sidebarctrl {
	position: absolute;
	right: 75px;
	bottom: 0px;
	height: 100%;
	width: 25px;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	background-color: #fff;
}
.playermainbody #controler #volume {
	position: absolute;
	right: 50px;
	bottom: 0px;
	height: 100%;
	width: 25px;
	overflow: hidden;
	background-color: #fff;
}
.playermainbody #controler #danmuctrl:hover, .playermainbody #controler #volume:hover {
	overflow: visible;
}
.playermainbody #controler #volume #stat {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 25px;
	width: 25px;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
}
.playermainbody #controler #volume #range {
	position: absolute;
	left: 0px;
	bottom: 100%;
	height: 200px;
	width: 25px;
	overflow: hidden;
	cursor: pointer;
	background-color: #66CCFF;
}
.playermainbody #controler #volume #range div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 0%;
	background-color: #fff;/*transition:height 0.05s;*/
}
.playermainbody #controler #volume span {
	position: absolute;
	left: 0px;
	bottom: 225px;
	width: 100%;
	background-color: #fff;
	display: block;
	text-align: center;
	font-size: 12px;
	line-height: 25px;
	cursor: default;
}
.playermainbody #controler #loop {
	position: absolute;
	background-color: #fff;
	right: 25px;
	bottom: 0px;
	height: 100%;
	width: 25px;
	font-size: 21px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
}
.playermainbody #controler #loop:hover {
	color: #33B888 !important;
}
.playermainbody #controler #fullscreen {
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 100%;
	width: 25px;
	font-size: 16px;
	background-color: #fff;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
}
.playermainbody #controler #fullscreen:hover, .playermainbody #controler #fullpage:hover {
	overflow: visible;
	color: #33B888;
}
.playermainbody #controler #fullpage {
	position: absolute;
	right: 0px;
	bottom: 100%;
	height: 100%;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
	font-size: 16px;
	color: 000;
	line-height: 25px;
	cursor: pointer;
	text-align: center;
}
.playermainbody #sendbox {
	background-color: #fff;
	position: absolute;
	bottom: 25px;
	left: 0px;
	width: calc(100% - 300px);
	width: -webkit-calc(100% - 300px);
	height: 25px;
}
.playermainbody #sendbox #fontstylebutton{
position: absolute;
background-color: #FFF9F9;
left: 0px;
top: 0px;
height: 100%;
width: 25px;
font-size: 20px;
border-right: 1px solid #ccc;
text-align: center;
cursor: pointer;
overflow: hidden;
transition:background-color 0.2s,color 0.2s;
}
.playermainbody #sendbox #fontstylebutton:hover{
	overflow: initial !important;
	background-color: #66ccff;
	color:#fff;
}
.playermainbody #sendbox #fontstylebutton #fontpannel{
	position: absolute;
	cursor: default;
bottom: 100%;
height: 140px;
width: 240px;
font-size: 15px;
color: #000;
background-color: #fff;
left: 0px;
border: 1px solid #ccc;
border-left: 0px solid #ccc;
text-align: left;
}
.selected{
	box-shadow: 0px 0px 23px #00C5CE;
}
.playermainbody #sendbox #fontstylebutton #fontpannel div{
	position: absolute;
}
.playermainbody #sendbox #fontstylebutton #fontpannel #danmuType{
top: 3px;
left: 5px;
height: 133px;
width: 103px;
}
#fontpannel #danmuType div{
border: 1px solid #ccc;
height: 40px;
width: 40px;
text-align: center;
border-radius: 4px;
line-height: 40px;
color: #9C8989;
cursor: pointer;
transition:background-color 0.2s;
font-size: 29px;
}
#danmuType #fromtop{
top: 25px;
left: 1px;
}
#danmuType #frombottom{
	top: 25px;
left: 54px;
}
#danmuType #fromright{
	top: 79px;
left: 1px;
}
#danmuType #fromleft{
	top: 79px;
left: 55px;
}
.playermainbody #sendbox #fontstylebutton #fontpannel #fontSize{
top: 3px;
left: 110px;
height: 133px;
width: 43px;
}
#fontSize div{
border: 1px solid #ccc;
height: 30px;
width: 30px;
color: #7E6B6B;
cursor: pointer;
border-radius: 4px;
transition: background-color 0.2s;
text-align: center;
line-height: 30px;
}
#fontSize div:hover,#fontpannel #danmuType div:hover{
	background-color: #C9D2D8;
}
#fontSize #Sizesmall{
top: 22px;
left: 5px;
font-size: 12px;
}
#fontSize #Sizemiddle{
	top: 60px;
left: 5px;
}
#fontSize #Sizebig{
	top: 98px;
left: 5px;
font-size: 25px;
}
.playermainbody #sendbox #fontstylebutton #fontpannel #fontColor{
top: 3px;
left: 157px;
height: 133px;
width: 79px;
}
.playermainbody  #fontColor #colorinput{
text-align: center;
width: 72px;
border: 1px solid #ccc;
border-radius: 2px;
}
.playermainbody  #fontColor #colorview{
width: 72px;
border: 1px solid #ccc;
height: 72px;
border-radius: 2px;
cursor: pointer;
}
.playermainbody #sendbox #danmuinput{
	position: absolute;
background-color: #FFFFFF;
top: 0px;
left: 25px;
width: calc(100% - 95px);
font-family: 黑体;
border: none;
height: 21px;
padding: 2px 5px;
font-size: 15px;
line-height: 25px;
}
.playermainbody #sendbox #sendbutton{
	position: absolute;
background-color: #2C9EB4;
height: 100%;
width: 60px;
line-height: 25px;
text-align: center;
font-size: 15px;
color: #fff;
right: 0px;
cursor: pointer;
transition:background-color 0.2s;
}
.playermainbody #sendbox #sendbutton:hover{
	background-color: #39CBE7;
}
#sendbox #sendboxcover{
	position: absolute;
top: 0px;
left: 0px;
display: none;
width: 100%;
height: 100%;
background-color: rgba(226, 226, 226, 0.64);
}

.playermainbody #sidebar {
	background-color: #F8F8F8;
	position: absolute;
	right: 0px;
	height: calc(100% - 25px);
	height: -webkit-calc(100% - 25px);
	overflow: hidden;
	width: 300px;
	top: 0px;
}
.playermainbody #sidebar #ctrlpannel {
	position: absolute;
	width: 100%;
	height: 90px;
	background-color: #F8F8F8;
	left: 0px;
	top: 0px;
	z-index: 20;
	border-bottom: 1px solid #ccc;
}
.playermainbody #sidebar #ctrlpannel #statboard {
	position: absolute;
width: 115px;
height: 60px;
right: 0px;
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
word-break: break-all;
overflow: hidden;
text-overflow: ellipsis;
color: #8A8888;
font-size: 12px;
}
user agent stylesheetdiv {
display: block;
}
.playermainbody #sidebar #ctrlpannel #playcount {
	position: absolute;
width: 93px;
height: 17px;
text-align: left;
left: 0px;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
line-height: 16px;
overflow: hidden;
font-size: 12px;
padding-left: 3px;
}
.playermainbody #sidebar #ctrlpannel #danmucount {
	position: absolute;
width: 93px;
height: 17px;
top: 18px;
text-align: left;
left: 0px;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
line-height: 16px;
overflow: hidden;
font-size: 12px;
padding-left: 3px;
}
.playermainbody #sidebar #tabpages {
	position: absolute;
	width: 100%;
	height: calc(100% - 90px);
	height: -webkit-calc(100% - 90px);
	left: 0px;
	bottom: 0px;
}
.playermainbody #sidebar #tabpages .tabpage{
	position: absolute;
	width: 100%;
	height:100%;
	left: 0px;
	top: 0px;
}
.playermainbody #sidebar #tabpages #danmupool {
	cursor: default;
color: rgba(44, 44, 44, 0.7);
}
.playermainbody #sidebar #tabpages #danmupool #tabletop{
position: absolute;
width: 100%;
overflow: hidden;
left: 0px;
top: 0px;
height: 20px;
font-size: 13px;
background-color: #ccc;
line-height: 20px;
}
#danmupool span{
	position: absolute;
text-overflow: ellipsis;
display: block;
height: 20px;
white-space: nowrap;
overflow: hidden;
}
#danmupool .danmutime{
left: 3px;
width: 43px;
}
#danmupool .danmucontent{
	left: 46px;
width: calc(100% - 128px);
}
#danmupool .danmudate{
	right: 2px;
width: 78px;
}
#danmupool #danmus{
	position: absolute;
top: 20px;
width: 100%;
height: calc(100% - 20px);
overflow-x: hidden;
overflow-y: auto;
}
#danmupool .danmudiv{
	position: relative;
height: 20px;
font-size: 13px;
cursor: pointer;
width: 100%;
}
#danmupool .danmudiv:hover{
	background-color: rgba(123,456,789,0.5);
}
.playermainbody #sidebar #tabpages #superdanmueditor {
	display: none;
}
.playermainbody #sidebar #tabpages #optionpannel {
	display: none;
}

.playermainbody #sidebar #ctrlpannel .ctrlbutton{
position: absolute;
bottom: 0px;
transition: background-color 0.1s;
font-size: 15px;
text-align: center;
border-left: 1px solid #ccc;
background-color: rgba(231, 231, 231, 1);
height: 29px;
width: 33.33%;
line-height: 30px;
cursor: pointer;
}
.playermainbody #sidebar #ctrlpannel .ctrlbutton:hover{
	background-color: rgba(243, 243, 243, 1);
}
.playermainbody #sidebar #ctrlpannel #danmulistbutton{
left: 0px;
}
.playermainbody #sidebar #ctrlpannel #superdanmubutton{
left: 33.3%;
}
.playermainbody #sidebar #ctrlpannel #optionbutton{
left: 66.6%;
}
.tabpage div[type="switch"] .switch_center{
		transition:left 0.1s,right 0.1s;
	}
.tabpage div[type="switch"]{
		cursor: pointer;
	}
.tabpage .switch_center{
		position:absolute;height:100%;width:15px;background-color:#ccc;
	}
.tabpage .switch_left{
		height:100%;width:55px;position:absolute;right:100%;
	}
.tabpage .switch_right{
		height:100%;width:55px;position:absolute;left:100%;
	}